https://raw.githubusercontent.com/omairaasim/machine_learning/master/project_11_k_nearest_neighbor/iphone_purchase_records.csv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/omairaasim/machine_learning/master/project_11_k_nearest_neighbor/iphone_purchase_records.csv')

In [3]:
df

     Gender  Age  Salary  Purchase Iphone
0      Male   19   19000                0
1      Male   35   20000                0
2    Female   26   43000                0
3    Female   27   57000                0
4      Male   19   76000                0
..      ...  ...     ...              ...
395  Female   46   41000                1
396    Male   51   23000                1
397  Female   50   20000                1
398    Male   36   33000                0
399  Female   49   36000                1

[400 rows x 4 columns]

In [4]:
df.shape

(400, 4)

In [5]:
df.describe()

              Age         Salary  Purchase Iphone
count  400.000000     400.000000       400.000000
mean    37.655000   69742.500000         0.357500
std     10.482877   34096.960282         0.479864
min     18.000000   15000.000000         0.000000
25%     29.750000   43000.000000         0.000000
50%     37.000000   70000.000000         0.000000
75%     46.000000   88000.000000         1.000000
max     60.000000  150000.000000         1.000000

In [6]:
df['Purchase Iphone'].value_counts()

0    257
1    143
Name: Purchase Iphone, dtype: int64

In [7]:
df['Gender'].value_counts()

Female    204
Male      196
Name: Gender, dtype: int64

In [11]:
df.loc[df['Purchase Iphone']==1, 'Gender'].value_counts()

Female    77
Male      66
Name: Gender, dtype: int64

In [12]:
df.groupby(['Gender'])['Salary'].mean()

Gender
Female    71759.803922
Male      67642.857143
Name: Salary, dtype: float64

In [13]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [15]:
# label Encoding
from sklearn.preprocessing import LabelEncoder
enc= LabelEncoder()
x.Gender = enc.fit_transform(x.Gender)

In [16]:
x

     Gender  Age  Salary
0         1   19   19000
1         1   35   20000
2         0   26   43000
3         0   27   57000
4         1   19   76000
..      ...  ...     ...
395       0   46   41000
396       1   51   23000
397       0   50   20000
398       1   36   33000
399       0   49   36000

[400 rows x 3 columns]

In [18]:
scale=StandardScaler()
x = scale.fit_transform(x)

In [19]:
x

array([[ 1.02020406, -1.78179743, -1.49004624],
       [ 1.02020406, -0.25358736, -1.46068138],
       [-0.98019606, -1.11320552, -0.78528968],
       ...,
       [-0.98019606,  1.17910958, -1.46068138],
       [ 1.02020406, -0.15807423, -1.07893824],
       [-0.98019606,  1.08359645, -0.99084367]])

In [21]:
knn= KNeighborsClassifier(n_neighbors=5)

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [23]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [24]:
y_pred = knn.predict(x_test)

In [26]:
confusion_matrix(y_test, y_pred)

array([[42,  6],
       [ 4, 28]], dtype=int64)

In [28]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.91      0.88      0.89        48
           1       0.82      0.88      0.85        32

    accuracy                           0.88        80
   macro avg       0.87      0.88      0.87        80
weighted avg       0.88      0.88      0.88        80